$backgroundNavbar: #171717;
$backgroundFooter: #171717;
$background: #212121;
$secondaryBackground: #777dee8e;

$accent: #777dee;

$buttonBackground: #2f7bcc;

$textColor: #ccc;
$textColor2: #aaa;
$textColorLink: #4a8deb;
$textColorDark: #333;
