@import "tailwindcss";

@theme {
  --color-fg: #c0c0c0;
  --color-fg-heading: #f0f0f0;

  --color-accent-text: #94c464;
  --color-accent-hover: #61853d;
  --color-accent: #506e32;
  --color-danger: #d35e5e;

  --color-page: #1a1a1a;
  --color-surface: #2a2a2a;
  --color-subtle: #3a3a3a;
  --color-border: #545454;

  --font-display: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-page text-fg font-display;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-fg-heading font-display;
  }

  h1 {
    @apply text-4xl font-bold mb-4;
  }

  h2 {
    @apply text-2xl font-semibold mb-2;
  }

  h3 {
    @apply text-xl font-semibold mb-2;
  }

  h4 {
    @apply text-lg font-semibold mb-1;
  }

  p {
    @apply text-base text-fg m-0;
  }

  button {
    @apply bg-accent text-fg-heading font-semibold py-2 px-4 rounded hover:bg-accent-hover cursor-pointer transition-colors;
  }

  input,
  textarea {
    @apply w-full p-2 px-4 bg-subtle text-fg border border-border rounded-md transition-colors;
  }

  label {
    @apply text-fg font-semibold mb-2 block;
  }

  a {
    @apply text-accent-text underline hover:cursor-pointer;
  }

  header a {
    @apply text-fg-heading hover:text-accent-text transition-colors no-underline;
  }

  form {
    @apply space-y-4;
  }
}

@layer components {
  .card {
    @apply max-w-xl mx-auto rounded-xl bg-surface p-6 shadow;
  }

  .doc-card {
    @apply flex items-center bg-surface rounded-lg p-4 hover:shadow-md hover:bg-subtle cursor-pointer;
  }

  .document input,
  .document textarea {
    @apply focus:border-none bg-page;
  }

  .link {
    @apply text-accent hover:text-accent-hover transition-colors;
  }
}
